# Completely ignore iOS and Android build folders
/ios/
/android/

# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
.yarn/*

# Expo / Metro
.expo/
.expo-shared/
__generated__/
.metro-cache/

# Environment files
.env
.env.*
!.env.example

# Editor configs
.idea/
.vscode/
*.swp
*.swo