<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Add Camera permission -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Optional, if location is needed for camera features -->

    <application 
        android:usesCleartextTraffic="true" 
        tools:targetApi="28" 
        tools:ignore="GoogleAppIndexingWarning" 
        tools:replace="android:usesCleartextTraffic">
        
        <!-- Your other app components here -->

    </application>
</manifest>
